@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Handlee', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f19c79;
  color: #a44a3f;
  /* background-color: #a44a3f; */
  /* color: #f6f4d2; */
}

h1 {
  font-size: xxx-large;
  font-weight: bold;
}

h2 {
  display: flex;
  justify-content: center;
  color: #f8f9fa;
  font-size: xx-large;
  font-weight: bold;
}

h3 {
  font-size: xx-large;
}

.to-the-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.clear-all-btn {
  font-size: x-large;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
}

.individual-cards {
  font-size: large;
  margin: 5px;
  max-width: 100%;
}

/* DAY/DINNER CARDS */
.name-of-day {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.dinner {
  padding: 0px 12px 10px 0px;
}

.add-btn {
  display: flex;
  justify-content: center;
  padding: 80px 0px 105px 0px ;
}

.edit-delete-footer {
  display: flex;
  justify-content: center;
  gap: 10px
}

/* RECIPE CARDS */
.recipe-title {
  font-size: x-large;
  font-weight: bold;
}

.underline-link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/* SINGLE VIEW OF RECIPE */
.single-recipe-view {
  margin: 30px 0px;
}

.single-recipe-title {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}

form {
  font-size: large;
}
