@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Handlee', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f19c79;
  color: #a44a3f;
  /* background-color: #a44a3f; */
  /* color: #f6f4d2; */
}

h1 {
  font-size: xxx-large;
  font-weight: bold;
}

h2 {
  color: #f8f9fa;
  font-size: xx-large;
  font-weight: bold;
}

h3 {
  font-size: xx-large;
}
.cards-container {
  display: flex;
  flex-flow: row wrap;
}

.individual-cards {
  font-size: large;
  margin: 5px;
}

form {
  font-size: large;
}
