@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Handlee', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f19c79;
  /* background-image: url(../images/pngegg-mobile.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #a44a3f;
}

h1 {
  font-size: xxx-large;
  font-weight: bold;
}

h2 {
  display: flex;
  justify-content: center;
  color: #f8f9fa;
  font-size: xx-large;
  font-weight: bold;
}

h3 {
  font-size: xx-large;
}

/* SIGN IN PAGE */
.sign-in-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.sign-in-container div {
  position: absolute;
  width: 22%;
  top: 256px;
  text-align: center;
}

.welcome-header {
  display: flex;
  justify-content: center;
}

/* CLEAR THE WEEK BUTTON */
.to-the-right {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.clear-all-btn {
  font-size: x-large;
}

/* DAY/DINNER/RECIPE CARDS */
.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.individual-cards {
  font-size: large;
  margin: 5px;
  max-width: 100%;
}

/* DAY/DINNER CARDS */
.name-of-day {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.dinner {
  padding: 0px 12px 10px 0px;
}

.add-btn {
  display: flex;
  justify-content: center;
  padding: 82px 0px 107px 0px ;
}

.edit-delete-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ADD A RECIPE BUTTON ON RECIPE PAGE */
.add-recipe-btn {
  font-size: larger;
}

/* RECIPE CARDS */
.recipe-title {
  font-size: x-large;
  font-weight: bold;
}

.underline-link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

/* SINGLE VIEW OF RECIPE */
.single-recipe-view {
  margin: 30px 0px;
}

.single-recipe-title {
  font-size: xx-large;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}

.recipe-details {
  font-size: larger;
}

.box-around-input {
  border: #a44a3f solid 1px;
  padding: 5px 15px;
  white-space: pre-line;
}

.ingredients {
  column-count: 3;
  text-align: center;
}

.single-view-edit-and-delete-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

/* DINNER AND RECIPE FORMS */
form {
  font-size: large;
}

label {
  font-weight: bold;
}

.form-btn {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

/* RECIPE FORM */
.note {
  color: #f8f9fa;
  font-size: 78%;
  margin-left: 20px;
}

.yes-option {
  margin-left: 10px;
}

/* EAT OUT FORM */
.hide-div-on-eat-out-form {
  display: block;
}

.show-div-on-eat-out-form {
  display: block;
}
